extends base

block title
    title= page.title + ' | ' + config.title

    if page.title == "about"
        script(type='text/javascript', src='/js/jquery-1.11.3.min.js?v=2.0.1')
        script.
            $(document).ready(function () {
                //- $("#sidebar").css("visibility","hidden");
                $("#search-form").css("display", "none");
                $(".layout-r").css("display", "none");
                $(".layout-l").css("width", "100%");
                $(".layout-l").css("*width", "100%");
            });

    if page.title == "project"
        link(rel='stylesheet', href='res/bootstrap.css')
        link(rel='stylesheet', href='res/blog-style.css')
        style.
            /*整个作品展示区*/
            section .works-area {
                margin-top: -150px;
                margin: auto;
                margin-left: 100px;
            }

            .works-area .works-item {
                border-radius: 2px;
                border: 1px solid #eee8d5;
                margin-bottom: 50px;
                box-shadow: 8px 5px 10px rgba(0, 0, 0, .2);
            }

            .works-item-img {
                margin: auto -26px;
            }

            .works-item-img img {
                width: 100%;
            }

            .works-area .works-item {
                background: white;
                /* background-color: rgba(255, 255, 255, .1); */
                padding: 5px 25px;
            }

            .works-area .footer {
                padding-top: 10px;
                border-top: thin #eee solid;
            }

            .works-area .footer .btn {
                padding: 7px 9px;
                border-radius: 2px;
                float: right;
                margin: 8px 0;
                text-transform: none;
                font-size: 12px;
                font-style: italic;
                background: #0085a1;
                border: none;
                color: #fff;
            }

            .works-item .works-content {
                padding-top: 15px;
            }

            .works-item .title {
                padding-top: 6px;
                overflow: hidden;
                /*box-shadow: none;*/
                /*border: hidden;*/
            }

            .works-item .title h3 {
                /*display: inline-block;*/
                /*margin: 0 15px;*/
                /*height: 33px;*/
                /*font-size: 18px;*/
                /*font-weight: 400;*/
                height: 33px;
                font-size: 18px;
                font-weight: 400;
                float: left;
                line-height: 33px;
                padding: 0;
                margin: 0;
            }

            .works-item .title .title-date {
                float: right;
                font-size: 18px;
            }

            .works-item .use span {
                display: inline-block;
                font-size: 12px;
                border-radius: 3px;
                padding: 0 4px;
                border: thin solid #795548;
            }

            .works-item .subtitle {
                margin: 0;
                font-size: 17px;
            }

            @media screen and (max-width: 400px) {
                .works-item .footer .use {
                    font-size: 14px;
                }

                .works-item .works-item-img {
                    /*height: 200px;*/
                }

                .bg-header .avatar img {
                    max-width: 150px;
                }

                .bg-header h1 {
                    font-size: 24px;
                }

                section .works-area {
                    /*margin-top: -210px;*/
                }
            }

            .footer {
                background: #ffffff;
            }

            .col-sm-10 {
                width: 83.33333333%
            }

            .col-md-8 {
                width: 66.66666667%
            }

            .row {
                margin-right: 15px;
                margin-left: 15px
            }

            .works-container {
                /*text-align: auto;*/
                margin: auto;
            }

            .use .text-warning span {
                margin-left: 5px;
            }

        script(type='text/javascript', src='/js/jquery-1.11.3.min.js?v=2.0.1')
        script.
            $(document).ready(function () {
                $(".works-container").appendTo(".post-content");

                $("#search-form").css("display", "none");
                $(".layout-r").css("display", "none");
                $(".layout-l").css("width", "100%");
                $(".layout-l").css("*width", "100%");

                onWindowResize();
                window.addEventListener('resize', onWindowResize, false);

                function onWindowResize() {
                    if (navigator.userAgent.match(/mobile/i)) {
                        $(".container").css("width", "100%");
                    } else {
                        $(".container").css("width", "70%");
                    }
                }
            });

block content
    .post
        h1.post-title= page.title
        .post-content

        if page.title == "about"
            .author-page
                a.photo(href="javascript:;")
                    img(src='#{theme.about.photo_url}')
                .author
                    p
                        i.fa.fa-user name：
                        | #{config.author}
                    each item in theme.about.items
                        p
                            i(class="fa fa-" + item.label) #{item.label}：
                            a(href=item.url,target="_blank")= item.title
            != page.content

        if page.title == "project"
            != page.content

            .works-container(style='background-color: #fafafa')
                header
                    .bg-header.text-center
                        // <h2>作品展示</h2> #fafafa
                .container
                    section.row
                        // <div class="col-sm-10 col-sm-offset-1
                        // col-md-8 col-md-offset-2
                        // works-area">
                        .works-area(style='margin-left: 0px;margin-left: auto;')
                            .works-item
                                .title
                                    h3
                                        | H5PracticeEditor
                                    span.title-date.text-muted
                                        | 2016.11-2017.3
                                .works-item-img
                                    a(href='https://github.com/arvin0/H5PracticeEditor', target='_blank')
                                        img(src='res/item-H5PracticeEditor.jpg')
                                .works-content
                                    .use.text-warning
                                        span
                                            | ActionScript 3.0
                                        span
                                            | Adobe Flex
                                        span
                                            | JavaScript
                                        span
                                            | EgretTS
                                    p.subtitle  一款H5动画编辑器
                                    p.text-muted
                                        | 一款编辑H5动画页面的软件，本人负责编辑器代码，以及H5模板页的代码。 主要用于编辑模拟汽车零部件拆装的H5动画。此工具，编辑器软件部分：编程语言是ActionScript
                                        | 3.0，使用Adobe Flex框架； 内部模板网页：编程语言是JavaScript，使用EgretTS框架；目前编辑器版本是初版，基本功能完成，但是还需要迭代更新完善。
                                .footer.clearfix
                                    a.btn.btn-default(href='https://github.com/arvin0/H5PracticeEditor', target='_blank')
                                        | Open
                                        | it
                            .works-item
                                .title
                                    h3
                                        | H5PracticeEditor site
                                    span.title-date.text-muted
                                        | 2017.3
                                .works-item-img
                                    a(href='http://139.196.58.114:8036/index.html', target='_blank')
                                        img(src='res/item-H5PracticeEditor-site.jpg')
                                .works-content
                                    .use.text-warning
                                        span
                                            | JavaScript
                                        span
                                            | jQuery
                                        span
                                            | Bootstrap
                                    p.subtitle  H5PracticeEditor的网站
                                    p.text-muted
                                        | 一个简单的展示H5PracticeEditor的网站，本人负责网站代码。
                                        | 此网站，编程语言是JavaScript，使用jQuery，Bootstrap框架，下载，版本信息等功能连接GitHub的相关接口,从而显示展示。
                                .footer.clearfix
                                    a.btn.btn-default(href='http://139.196.58.114:8036/index.html', target='_blank')
                                        | Open
                                        | it
                            .works-item
                                .title
                                    h3
                                        | 3D汽车博物馆
                                    span.title-date.text-muted
                                        | 2017.4-至今
                                .works-item-img
                                    a(href='http://139.196.49.163:8033/', target='_blank')
                                        img(src='res/item-CarMuseumSite.jpg')
                                .works-content
                                    .use.text-warning
                                        span
                                            | JavaScript
                                        span
                                            | jQuery
                                        span
                                            | three.js
                                    p.subtitle  web3d网站
                                    p.text-muted
                                        | 一个支持canvas，webgl双重渲染的3d网站，本人负责3d网站的全部代码。此网站具有：全景展示，切换场景，播放模型动画，触发详
                                        | 细页面等等功能；技术：编程语言是JavaScript，主要使用three.js框架，涉及jQuery，Bootstrap 等框架；内嵌的资源类型有：1.storyline
                                        | page（Articulate Storyline 2工具制作） 2.anmiate page （Adobe Animate CC + CreateJS 制作）3.Unity
                                        | web版本 4. 3dmax渲染的全景图和模型 5.blender输出的模型，等等。
                                .footer.clearfix
                                    a.btn.btn-default(href='http://139.196.49.163:8033/', target='_blank')
                                        | Open
                                        | it
                            .works-item
                                .title
                                    h3
                                        | 会员后台管理系统
                                    span.title-date.text-muted
                                        | 2017.7
                                .works-item-img
                                    a(href='http://139.196.49.163:8022/', target='_blank')
                                        img(src='res/item-memberSite.jpg')
                                .works-content
                                    .use.text-warning
                                        span
                                            | JavaScript
                                        span
                                            | jQuery
                                        span
                                            | Node.JS
                                        span
                                            | Express
                                        span
                                            | SQL Server
                                    p.subtitle  后台管理系统网站
                                    p.text-muted
                                        | 一个会员后台管理系统网站，本人负责前后端的代码编写。项目主要功能是：管理员登录，操作前端页面表格，修改会员信息，并更新到数据库中，以及导入导出excel。技术：前端使用：html+css+js；后端使用：node.js。
                                .footer.clearfix
                                    a.btn.btn-default(href='http://139.196.49.163:8022/', target='_blank')
                                        | Open
                                        | it


        if theme.comment && page.comments
            #comments
                include _partial/comments
block pageOnly
    script(type='text/javascript', src=url_for(theme.js) + '/totop.js' + '?v=' + theme.version, async)

    if theme.comment
        include _partial/comments_js
